@charset "utf-8";

// ================ SCSS VARIABLES ==================

// default box-sizing
$box_sizing: border-box;

// default padding
$padding_default: 15px 15px;

// default radius
$radius_default: 0px;

// background and font color
$color_bg: #21262E;
$color_ft: #CDD9E5;

// fonts size
$font_large: 45px;
$font_small: 20px;
$font_xsmall: 15px;