# exclude node modules
node_modules

# exclude build folders
.next
build
out
standalone

# projects specifics
articles
external.test.*
.env
vercel.token
.next
.vercel
robots.txt
sitemap.xml
sm.xml
google*.html